<body>
   
  <div id="page-container">
    <div id="content-wrap">
    <div class="main">
      <h1>HISTORY</h1>
      <div><p class="ptag" *ngIf="Farmerhistory.length < 1 else content"> There are no records available!</p>
      </div>
    <ng-template #content>
      <table class="table">
          <thead>
            <tr style="background-color: rgb(48, 100, 24); color:white; height:60px; text-align: center; margin-top: 20px;">
              <th scope="col">Sr No.</th>
              <th scope="col">Transaction ID</th>
              <th scope="col">Bidder Name</th>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Fertilizer</th>
              <th scope="col">MSP</th>
              <th scope="col">Base Price</th>
              <th scope="col">Selling Price</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr id="i" *ngFor="let Farmerhistory of Farmerhistory, index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{Farmerhistory.transaction_id}}</td>
              <td>{{Farmerhistory.bidder_name}}</td>
              <td>{{Farmerhistory.crop_name}}</td>
              <td>{{Farmerhistory.quantity}}</td>
              <td>{{Farmerhistory.fertilizer_type}}</td>
              <td>{{Farmerhistory.msp}}</td>
              <td>{{Farmerhistory.base_price}}</td>
              <td>{{Farmerhistory.amount}}</td>
              <td>{{Farmerhistory.bidding_time.substring(0,10)}}</td>
            </tr>
            
          </tbody>
        </table>
      </ng-template>
      </div>
      </div>
      </div>
  </body>
  
