<body>
  
    <div class="main">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Transaction ID</th>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Fertilizer</th>
              <th scope="col">MSP</th>
              <th scope="col">Base Price</th>
              <th scope="col">Selling Price</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr id="i">
              <th scope="row">1</th>
              <td>1011</td>
              <td>Wheat</td>
              <td>5</td>
              <td>Prills</td>
              <td>1925</td>
              <td>12000</td>
              <td>14000</td>
              <td>2-4-2021</td>
            </tr>
            <tr id="j">
              <th scope="row">2</th>
              <td>1047</td>
              <td>Groundnut</td>
              <td>2</td>
              <td>Powder</td>
              <td>2000</td>
              <td>11000</td>
              <td>12000</td>
              <td>3-4-2021</td>
            </tr>
            <tr id="i">
              <th scope="row">3</th>
              <td>1075</td>
              <td>Maize</td>
              <td>1</td>
              <td>Nitrogenous</td>
              <td>1200</td>
              <td>2200</td>
              <td>2500</td>
              <td>4-4-2021</td>
            </tr>
          </tbody>
        </table>
      </div>
  </body>
  
