
  <div id="page-container">
    <div id="content-wrap">
<div class="row">
    <div class="main">
        <div class="card">
            
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
     
        
         
            <div class="container">
                <h2 align="center">Particulars of Insuree</h2>
                <label for="policyno"><b>Policy Number</b></label>
                <input type="text" placeholder="Enter policy number" name="policyno" formControlName="policyno">
                <div *ngIf="!policyno?.valid && (policyno?.dirty ||policyno?.touched)">
                    <div [hidden]="!policyno.errors.pattern" style="color: crimson;">
                        Only numbers are allowed
                      </div>
                    <div   [hidden]="!policyno.errors.required" style="color: crimson;" >
                        policyno is required
                    </div>
                    
                </div>
    
                <label for="insurancecompany"><b>Insurance Company</b></label>
                <input type="text" placeholder="Enter Company name" name="insurancecompany" formControlName="insurancecompany">
                <div *ngIf="!insurancecompany?.valid && (insurancecompany?.dirty ||insurancecompany?.touched)">
                    <div [hidden]="!insurancecompany.errors.pattern" style="color: crimson;">
                        Only characters are allowed
                      </div>
                    <div   [hidden]="!insurancecompany.errors.required" style="color: crimson;" >
                        insurancecompany is required
                    </div>
                    
                </div>
    
                <label for="nameofinusree"><b>Name of Insuree</b></label>
                <input type="text" placeholder="Enter number of insuree" name="nameofinusree" formControlName="nameofinusree">
                <div *ngIf="!nameofinusree?.valid && (nameofinusree?.dirty ||nameofinusree?.touched)">
                    <div [hidden]="!nameofinusree.errors.pattern" style="color: crimson;">
                        Only characters are allowed
                      </div>
                    <div   [hidden]="!nameofinusree.errors.required" style="color: crimson;" >
                        name of inusree is required
                    </div>
                    
                </div>
             
                <label for="suminsured"><b>Sum Insured</b></label>
                <input type="text" placeholder="Enter Sum Insured" name="suminsured" formControlName="suminsured">
                <div *ngIf="!suminsured?.valid && (suminsured?.dirty ||suminsured?.touched)">
                    <div [hidden]="!suminsured.errors.pattern" style="color: crimson;">
                        Only numbers are allowed
                      </div>
                    <div   [hidden]="!suminsured.errors.required" style="color: crimson;" >
                        suminsured is required
                    </div>
                    
                </div>
    
                <h3 align="center">Details of Cause for Loss</h3>
    
                <label for="causeofloss"><b>Cause of Loss</b></label>
                <input type="text" placeholder="Enter the cause of loss" name="causeofloss"  formControlName="causeofloss">
                <div *ngIf="!causeofloss?.valid && (causeofloss?.dirty ||causeofloss?.touched)">
                    <div [hidden]="!causeofloss.errors.pattern" style="color: crimson;">
                        Only characters are allowed
                      </div>
                    <div   [hidden]="!causeofloss.errors.required" style="color: crimson;" >
                        causeofloss is required
                    </div>
                    
                </div>
    
                <label for="dateofloss"><b>Date of Loss    </b></label>
                <input type="date" name="dateofloss" formControlName="dateofloss">
                <div *ngIf="!dateofloss?.valid && (dateofloss?.dirty ||dateofloss?.touched)">
                    
                    <div   [hidden]="!dateofloss.errors.required" style="color: crimson;" >
                        dateofloss is required
                    </div>
                    
                </div>
    
                <button type="submit">Claim</button>
              
            
            
            
            </div>
        
    </form>
    </div>
</div>
</div>
</div>
