<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="nav-bar">
  <img id="small_images" src="/assets/images/logo-product.svg" />
  <label id="project-name">Kisan Yojana</label>
  <a id="header_nav">Home</a>
  <a id="header_nav">About</a>
  <a id="header_nav">Contact Us</a>
  <input class="nav-button" type="button" value="Sign In" />
  <input class="nav-button"
    style="background-color: rgb(209, 255, 209); border-color: green; position: absolute;margin-left: 0px;right: 60px;"
    type="button" value="Register" />
</div>
<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav> -->
<div class="main-container">

  <table style="width:100%">
    <tr>
      <td style="width: 50%;">

        <b id="big-text">Welcome!</b>
        <p id="small-text" style="text-align: left;">To Kisna Yojana</p>
        <div id="welcome-paragraph">
          <p class="paragraph-text">SmartFarm actively pursues its mission of supporting healthy and productive
            lifestyles for the community while teaching, enhancing, and connecting residents and youth to fresh produce
            and education about urban gardening. Programs include multiple workshop venues and hands-on gardening
            opportunities for young people, as well as community garden plots for nearby residents.</p>

        </div>
      </td>
      <td style="width: 50%;">
        <div class="welcome-box">
          <img class="welcome-image" src="/assets/images/news3.jpg" />
        </div>
      </td>
    </tr>

  </table>
  <div class="news-container">
    <div id="small-text">Latest</div>
    <div id="big-text">News And Affairs</div>
  </div>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/assets/images/news1.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Here's why tens of thousands of Indian farmers are protesting</h5>
        <p class="card-text">For two weeks, tens of thousands of farmers in northern India have been protesting against
          three new farm laws introduced by the government. Despite a meeting in Delhi between the Home Minister and
          farmers, there has been no breakthrough in talks.</p>
        <p class="card-text"><small class="text-muted">Know More...</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/images/news2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">One tweet from Rihanna on farmer protests gets India incensed</h5>
        <p class="card-text"> It took just one tweet from Rihanna to anger the Indian government and supporters of Prime
          Minister Narendra Modi's party. The pop star linked a news article in a tweet drawing attention to the massive
          farmer protests that have gripped India for more than two months.</p>
        <p class="card-text"><small class="text-muted">Know More...</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/images/news3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Majority of Indians Support New Farm Laws, Want Protesters to Drop Repeal Demand, News18
          Network Survey Finds</h5>
        <p class="card-text">The survey conducted across 22 states found that support for the new legislations was
          strong in most agrarian states, especially in Uttar Pradesh, Madhya Pradesh Andhra Pradesh and Telangana.</p>
        <p class="card-text"><small class="text-muted">Know More...</small></p>
      </div>
    </div>
  </div>
  <div class="news-container">
    <div id="small-text"> Some </div>
    <div id="big-text">Interesting Facts</div>
    <!-- <p class="paragraph-text"></p> -->
    
  </div>
  <div class="row" style="background-color: rgb(231, 245, 231);">
    <div class="col-sm-3">
      <div class="news-container">
        <div class="card-body" >
          <h5 class="card-title" id="fact-icons">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people"
            viewBox="0 0 16 16">
            <path
              d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
          </svg>
          </h5>
          <p class="card-text" id="fact-number">3000</p>
          <p class="card-text" id="fact-text">Happy Farmers</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="news-container">
        <div class="card-body" >
          <h5 class="card-title" id="fact-icons">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-basket"
            viewBox="0 0 16 16">
            <path
              d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
          </svg>
          </h5>
          <p class="card-text" id="fact-number">10000</p>
          <p class="card-text" id="fact-text">Crop Varieties</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="news-container">
        <div class="card-body" >
          <h5 class="card-title" id="fact-icons">
            <i class="fa fa-gavel fa-lg" style="margin-bottom: 10px;" aria-hidden="true"></i>
          </h5>
          <p class="card-text" id="fact-number">50000</p>
          <p class="card-text" id="fact-text">Biddings</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="news-container">
        <div class="card-body" >
          <h5 class="card-title" id="fact-icons">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill"
            viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd"
              d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
          </svg>
          </h5>
          <p class="card-text" id="fact-number">6000</p>
          <p class="card-text" id="fact-text">Bidders Reached</p>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- <div class="footer">
        <div>
          <p id="footer-copyright">© 2021, Instamojo Technologies Pvt. Ltd.</p>
          <p id="footer-contactus">Contact Us</p>
          <p id="footer-copyright">
            16 Adam Ave, Phoenix, USA
            <br>
            880-569-6921
            <br>
            smartfarm@example.com
          </p>
        </div>
</div> -->
<div class="card-group">
  <!-- <div class="card">
    <div class="card-body"  id="footer">
      <h5 class="card-title" id="footer-contactus">Contact Us</h5>
      <p class="card-text">16 Adam Ave, Phoenix, USA
        <br>
        880-569-6921
        <br>
        smartfarm@example.com</p>
    </div>
  </div> -->
  <div class="card">
    <div class="card-body" id="footer">
      <h5 class="card-title" id="footer-contactus">Site Info</h5>
      <p class="card-text">Privacy Policy
        <br> Terms and Conditions
      </p>

    </div>
  </div>
</div>
