<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="nav-bar">
  <img id="small_images" src="/assets/images/logo-product.svg"/>
  <label id="project-name">Kisan Yojana</label>
  <a id="header_nav">Home</a>
  <a id="header_nav">About</a>
  <a id="header_nav">Contact Us</a>
  <input class="nav-button" type="button" value="Sign In"/>
  <input class="nav-button" style="background-color: rgb(209, 255, 209); border-color: green; position: absolute;right: 60px;"type="button" value="Register"/>
</div>
<div class="main-container">
    
    <table style="width:100%">
      <tr>
        <td style="width: 50%;">
          
          <b id="big-text">Welcome!</b>
          <p id="small-text" style="text-align: left;">To Kisna Yojana</p>
          <div id="welcome-paragraph">
              <p class="paragraph-text">SmartFarm actively pursues its mission of supporting healthy and productive lifestyles for the community while teaching, enhancing, and connecting residents and youth to fresh produce and education about urban gardening. Programs include multiple workshop venues and hands-on gardening opportunities for young people, as well as community garden plots for nearby residents.</p>
          
          </div>
        </td>
        <td style="width: 50%;">
          <div class="welcome-box">
            <img class="welcome-image" src="/assets/images/news3.jpg"/>
          </div>
        </td>
      </tr>
        
      </table>
    <div class="news-container">
        <div id="small-text">Latest</div>
        <div id="big-text">News And Affairs</div>
    </div>
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/assets/images/news1.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Here's why tens of thousands of Indian farmers are protesting</h5>
            <p class="card-text">For two weeks, tens of thousands of farmers in northern India have been protesting against three new farm laws introduced by the government. Despite a meeting in Delhi between the Home Minister and farmers, there has been no breakthrough in talks.</p>
            <p class="card-text"><small class="text-muted">Know More...</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/images/news2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">One tweet from Rihanna on farmer protests gets India incensed</h5>
            <p class="card-text"> It took just one tweet from Rihanna to anger the Indian government and supporters of Prime Minister Narendra Modi's party. The pop star linked a news article in a tweet drawing attention to the massive farmer protests that have gripped India for more than two months.</p>
            <p class="card-text"><small class="text-muted">Know More...</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/images/news3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Majority of Indians Support New Farm Laws, Want Protesters to Drop Repeal Demand, News18 Network Survey Finds</h5>
            <p class="card-text">The survey conducted across 22 states found that support for the new legislations was strong in most agrarian states, especially in Uttar Pradesh, Madhya Pradesh Andhra Pradesh and Telangana.</p>
            <p class="card-text"><small class="text-muted">Know More...</small></p>
          </div>
        </div>
      </div>
      <div class="news-container">
        <div id="big-text">Some Interesting Facts</div>
        <p class="paragraph-text">We work close by agriculturists, makers, producers, retailers, governments, and different associations to satisfy our motivation to support the world in a protected, dependable and practical way. Together, we make efficiencies, create developments, and help networks flourish.

            In America, ‘Organization Name’ ‘s activities began in 1987. It has organizations in refined oils, nourishment fixings, grain and oilseeds, cotton, creature sustenance, mechanical claims to fame, and exchange organized back. ‘Organization Name’ markets driving buyer brands of palatable oils, for example, Nature Fresh, Gemini, Sweekar, Leonardo Olive Oil, Rath and Sunflower brand of hydrogenated fats.</p>
    </div>
    
</div>
<!-- <div class="footer">
        <div>
          <p id="footer-copyright">© 2021, Instamojo Technologies Pvt. Ltd.</p>
          <p id="footer-contactus">Contact Us</p>
          <p id="footer-copyright">
            16 Adam Ave, Phoenix, USA
            <br>
            880-569-6921
            <br>
            smartfarm@example.com
          </p>
        </div>
</div> -->
<div class="card-group" >
  <!-- <div class="card">
    <div class="card-body"  id="footer">
      <h5 class="card-title" id="footer-contactus">Contact Us</h5>
      <p class="card-text">16 Adam Ave, Phoenix, USA
        <br>
        880-569-6921
        <br>
        smartfarm@example.com</p>
    </div>
  </div> -->
  <div class="card">
    <div class="card-body"  id="footer">
      <h5 class="card-title" id="footer-contactus">Site Info</h5>
      <p class="card-text">Privacy Policy
        <br> Terms and Conditions
        <br>Premium Listing
        <br>Disclaimer
      </p>
    </div>
    
  </div>
  <div class="card">
    <div class="card-body"  id="footer">
      <!-- <img class="footer-image" src="/assets/images/logo-product.svg"/> -->
      <h5 class="card-title"  id="footer-contactus">Subscribe </h5>
      <p class="card-text">Stay updated on the latest news and stories from farmers.gov and other USDA topics.
      </p>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" style="width: 60%"aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
    </div>
  </div>
</div>