<div id="page-container">
    <div id="content-wrap">
<div class="row">
    <div class="main">
        <div class="card">
            
    <form>
     
        <div class="container">
          <div class="form-group">
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" formControlName="email">
          
        </div> 

        
      </div>
     
          <button type="submit">Send</button>
          
        
     
        
          
          
        
      </form>
        
        </div>
    </div>
</div>
</div>
</div>



