
<body>
  
  <div id="page-container">
    <div id="content-wrap">
    <div class="main">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">User Type</th>
            <th scope="col">Name</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Email</th>
            <th scope="col">Home Address</th>
            <th scope="col">Account No.</th>
            <th scope="col">IFSC Code</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr id="i">
            <th scope="row">1</th>
            <td>Farmer</td>
            <td>F1N</td>
            <td>F1P</td>
            <td>F1E</td>
            <td>F1HA</td>
            <td>F1A</td>
            <td>F1I</td>
            <td><input type="button" class="btn btn-outline-success" id="btn1" value="Approve"></td>
            <td><input type="button" class="btn btn-outline-danger" id="btn2" value="Disapprove"></td>
          </tr>
          <tr id="j">
            <th scope="row">2</th>
            <td>Bidder</td>
            <td>B1N</td>
            <td>B1P</td>
            <td>B1E</td>
            <td>B1HA</td>
            <td>B1A</td>
            <td>B1I</td>
            <td><input type="button" class="btn btn-outline-success" id="btn1" value="Approve"></td>
            <td><input type="button" class="btn btn-outline-danger" id="btn2" value="Disapprove"></td>
          </tr>
          <tr id="i">
            <th scope="row">3</th>
            <td>Farmer</td>
            <td>F2N</td>
            <td>F2P</td>
            <td>F2E</td>
            <td>F2HA</td>
            <td>F2A</td>
            <td>F2I</td>
            <td><input type="button" class="btn btn-outline-success" id="btn1" value="Approve"></td>
            <td><input type="button" class="btn btn-outline-danger" id="btn2" value="Disapprove"></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>
</body>
