.table
{
    margin-top: 2%;
    text-align: center;
    border:1px solid #28a745;
}
#j
    {
        background-color:#f5fcf6;
    }
#i
{
    background-color:#d0ead6;
}
#btn1
{
    color: white;
    background-color: #28a745;
    border-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
}
#btn1:hover
{
    color: #28a745;
    background-color: white;
    border-color:#28a745;
}
#btn2
{
    color: white;
    background-color: #507f5b;
    border-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
}
#btn2:hover
{
    color: #507f5b;
    background-color: white;
    border-color:#507f5b;
}
.main
{
    width:80%;
    margin: auto;
}
