<body>
  <div id="page-container">
    <div id="content-wrap">
    <div class="main">
      <h1>HISTORY</h1>
      <div><p class="ptag" *ngIf="Bidderhistory.length < 1 else content"> There are no records available!</p>
      </div>
    <ng-template #content>
    <table class="table">
        <thead id="heading_style">
          <tr id="heading_style">
            <th scope="col">Sr No.</th>
            <th scope="col">Transaction ID</th>
            <th scope="col">Farmer Name</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Fertilizer</th>
            <th scope="col">MSP</th>
            <th scope="col">Base Price</th>
            <th scope="col">Purchase Price</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody *ngFor="let Bidderhistory of Bidderhistory;index as i ">
          <tr id="i"  id="i" *ngIf="i%2==0">
            <th scope="row">{{i+1}}</th>
            <td>{{Bidderhistory.transaction_id}}</td>
            <td>{{Bidderhistory.farmer_name}}</td>
            <td>{{Bidderhistory.crop_name}}</td>
            <td>{{Bidderhistory.quantity}}</td>
            <td>{{Bidderhistory.fertilizer_type}}</td>
            <td>{{Bidderhistory.msp}}</td>
            <td>{{Bidderhistory.base_price}}</td>
            <td>{{Bidderhistory.amount}}</td>
            <td>{{Bidderhistory.bidding_time.substring(0,10)}}</td>
          </tr>
          <tr id="j" *ngIf="i%2!=0">
            <th scope="row">{{i+1}}</th>
            <td>{{Bidderhistory.transaction_id}}</td>
            <td>{{Bidderhistory.farmer_name}}</td>
            <td>{{Bidderhistory.crop_name}}</td>
            <td>{{Bidderhistory.quantity}}</td>
            <td>{{Bidderhistory.fertilizer_type}}</td>
            <td>{{Bidderhistory.msp}}</td>
            <td>{{Bidderhistory.base_price}}</td>
            <td>{{Bidderhistory.amount}}</td>
            <td>{{Bidderhistory.bidding_time.substring(0,10)}}</td>
          </tr>
         
        </tbody>
      </table>
    </ng-template>
    </div>
    </div>
    </div>
</body>

