<body>
  <div id="page-container">
    <div id="content-wrap">
    <div class="main">
      <h1>HISTORY</h1>
    <table class="table">
        <thead id="heading_style">
          <tr id="heading_style">
            <th scope="col">Sr No.</th>
            <th scope="col">Transaction ID</th>
            <th scope="col">Farmer ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Fertilizer</th>
            <th scope="col">MSP</th>
            <th scope="col">Base Price</th>
            <th scope="col">Purchase Price</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr id="i" *ngFor="let Bidderhistory of Bidderhistory">
            <th scope="row">1</th>
            <td>{{Bidderhistory.transaction_id}}</td>
            <td>{{Bidderhistory.farmer_id}}</td>
            <td>{{Bidderhistory.crop_name}}</td>
            <td>{{Bidderhistory.quantity}}</td>
            <td>{{Bidderhistory.fertilizer_type}}</td>
            <td>{{Bidderhistory.msp}}</td>
            <td>{{Bidderhistory.base_price}}</td>
            <td>{{Bidderhistory.amount}}</td>
            <td>{{Bidderhistory.bidding_time}}</td>
          </tr>
         
        </tbody>
      </table>
    </div>
    </div>
    </div>
</body>

