<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="nav-bar">
  <!-- <svg id="small-images" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
    class="bi bi-person-fill" viewBox="0 0 16 16">
    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
  </svg> -->
  <label id="project-name">Welcome Anuja</label>
  <a id="header_nav">Home</a>
  <input class="nav-button"
    style="background-color: rgb(209, 255, 209); border-color: green; position: absolute;margin-left: 0px;right: 60px;"
    type="button" value="Logout" />
</div>

<div class="row">
    <div class="col-sm-6">
      <div class="card-body" id="news-container">
        <h5 class="card-title">
          <img id="fact-icons" src="/assets/images/marketplace.jpg" />
        </h5>
        <p class="card-text" id="fact-number">Marketplace</p>
        <p> View all the crops that are on sale in the market.</p>
        <a href="#" class="btn btn-primary" style="background-color: green;">Go</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-body" id="news-container">
        <h5 class="card-title">
          <img id="fact-icons"  style ="height:70px; width: 70px; border-radius: 20px; margin-bottom: 30px;" src="/assets/images/history.png" />
        </h5>
        <p class="card-text" id="fact-number">History</p>
        <p>View all the previous transactions of your crops.</p>
        <a href="#" class="btn btn-primary" style="background-color: green;">Go</a>
      </div>
    </div>
</div>

<div class="card-body" id="footer">
    <h5 class="card-title" id="footer-contactus">Site Info</h5>
    <p class="card-text">Privacy Policy
      <br> Terms and Conditions
    </p>
  
  </div>