
<div id="page-container">
  <div id="content-wrap">
    <div class="main">
      <h1>MARKETPLACE</h1>
      
      <table class="table">
        <thead>
          <tr id="heading_style">
            <th scope="col">Sr No.</th>
            <th scope="col">Request ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Base Price</th>
            <th scope="col">Current Price</th>
            <th scope="col">Place Bid</th>
          </tr>
        </thead>
        <tbody *ngFor="let getmarket of getmarkets;index as i">

          <tr id="j">

            <th>{{i+1}}</th>
            <td >{{getmarkets[i].request_id}}</td>

            <td>{{getmarket.crop_name}}</td>
            <td>{{getmarket.quantity}}</td>
            <td>{{getmarket.base_price}}</td>
            <td>{{getmarket.amount}}</td>
            <!-- <td>2500</td> -->
            <td>
              <input type="button" class="btn btn-outline-success" id="btn1" value="Bid"
                routerLink="/bidrequest" (click)="applybid(getmarket.request_id, getmarket.crop_id)">
              <!-- <button type="button" id="btn1" class="btn btn-primary" data-toggle="modal" 
                (click)="applybid(getmarket.request_id)">
                data-target="#bidrequest" 
                Go
              </button> -->
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
<!-- 
<div class="modal fade" id="bidrequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="card1">
        <div class="row no-gutters">
          <div class="col-sm-3 row-sm-3" id="pic">
          </div>
          <div class="col-sm-6">
            <div class="card-body">
              <h5 class="card-title">Wheat</h5>
              <p class="card-text">100% organic and premium quality bla bla bla.</p>
            </div>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>
      <div class="card2">
        <div class="row no-gutters">
          <div class="col-sm-7">
            <table class="styled-table">
              <tr id="j">
                <th>Name</th>
                <td>{{bidrequestdata[0].crop_name}}</td>
              </tr>
              <tr id="i">
                <th>Quantity</th>
                <td>{{bidrequestdata[0].quantity}}</td>
              </tr>
              <tr id="j">
                <th>Fertilizer</th>
                <td>{{bidrequestdata[0].fertilizer_type}}</td>
              </tr>
              <tr id="i">
                <th>MSP</th>
                <td>{{bidrequestdata[0].msp}}</td>
              </tr>
              <tr id="j">
                <th>Base Price</th>
                <td>{{bidrequestdata[0].base_price}}</td>
              </tr>
              <tr id="j">
                <th>Current Price</th>
                <td>{{bidrequestdata[0].current_amount}}</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-3">

            <form id="form" [formGroup]="BidForm" (ngSubmit)="onPlacebid()" novalidate>

              <div>
                <input type="text" class="form-control" placeholder="Enter your bid amount" name="placebid"
                  formControlName="placebid">
              </div>
              <div class="d" style="width: auto;">
                <button class="btn btn-outline-success" id="btn10" type="submit" routerLink="/bidrequest">Place
                  Bid</button>
              </div>

            </form>
          </div>
          <div>
          </div>

        </div>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div> -->
