#page-container {
    background-image: url("/assets/images/plantbg.jpg");
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    /* padding-top: 200px; */
  }
#content-wrap {
    
    padding-bottom: 2.5rem;    /* Footer height */
  }
  h1{
      color: white;
      letter-spacing: 30px;
      text-align: center;
      font-size: 60px;
      text-shadow: 2px 2px 8px rgb(28, 44, 30);
  }
.table
{
    text-align: center;
    border:1px solid #28a745;
}
tr
{
    height: 30px;
    background-color: lightcoral;
}
#j
    {
        background-color: white;
        /* background-color:#f5fcf6; */
    }
#i
{
    background-color: white;
    /* background-color:#d0ead6; */
}
#btn1
{
    color: white;
    background-color: #28a745;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#btn1:hover
{
    color: #28a745;
    background-color: white;
    border-color:#28a745;
}
.main
{
    
    width:80%;
    margin: auto;
}
 