<body>
  
    <div class="main">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Base Price</th>
              <th scope="col">Current Price</th>
              <th scope="col">Place Bid</th>
            </tr>
          </thead>
          <tbody>
            <tr id="i">
              <th scope="row">1</th>
              <td>Wheat</td>
              <td>5</td>
              <td>12000</td>
              <td>14000</td>
              <td><input type="button" class="btn btn-outline-success" id="btn1" value="Bid" routerLink="BidRequestComponent"></td>
            </tr>
            <tr id="j">
              <th scope="row">2</th>
              <td>Groundnut</td>
              <td>2</td>
              <td>11000</td>
              <td>12000</td>
              <td><input type="button" class="btn btn-outline-success" id="btn1" value="Bid" routerLink="BidRequestComponent"></td>
            </tr>
            <tr id="i">
              <th scope="row">3</th>
              <td>Maize</td>
              <td>1</td>
              <td>2200</td>
              <td>2500</td>
              <td><input type="button" class="btn btn-outline-success" id="btn1" value="Bid" routerLink="BidRequestComponent"></td>
            </tr>
          </tbody>
        </table>
      </div>
  </body>
  