<div id="page-container">
  <div id="content-wrap">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div id="welcome-paragraph">
      <p class="paragraph-text">Agriculture is the most healthful,useful and noble employment of man.It is felt that
        with provision of timely and adequate inputs such as fertilizers, seeds, pesticides and by making available
        affordable agricultural credit /crop insurance, Indian farmers are going to ensure food and nutritional security
        to the Nation.In the farmer's portal, a farmer will be able to perform activites such as application/claim of
        insurance.Also, a farmer can place the request for bidding of crops.Farmers’ Portal is an endeavour in this
        direction to create one stop shop for meeting all informational needs relating to Agriculture,sale of an Indian
        farmer.</p>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="card-body" id="news-container">
          <h5 class="card-title">
            <img id="fact-icons" src="/assets/images/sell_request.jpg" />
          </h5>
          <p class="card-text" id="fact-number">Sell Request</p>
          <p> Add your crops here to sell them to the bidders.</p>
          <!-- <a href="#" class="btn btn-primary" routerLink="ApplyBidComponent" id="button">Go</a> -->

          <!-- Button trigger modal -->
          <button type="button" id="button" class="btn btn-primary" data-toggle="modal"
            data-target="#sellrequestmodal">
            Go
          </button>

          <!-- Modal -->
          <div class="modal fade " id="sellrequestmodal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">

                <div class="modal-body" >
                  <form>
                    <div class="container">
                      <h2 style="margin-bottom: 30px;">Request for Bid</h2>
                      <label id="labels" for="croptype"><b>Crop Type</b></label>
                      <input type="text" placeholder="Enter crop type" name="croptype">


                      <label id="labels" for="cropname"><b>Crop Name</b></label>
                      <input type="text" placeholder="Enter crop name" name="cropname">

                      <label id="labels" for="fertilzertype"><b>Fertilzer Type</b></label>
                      <input type="text" placeholder="Enter fertilzer type" name="fertilzertype">

                      <label id="labels" for="quantity"><b>Quantity</b></label>
                      <input type="text" placeholder="Enter quantity" name="quantity">
                      <button type="submit">Place Request</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-3">
        <div class="card-body" id="news-container">
          <h5 class="card-title">
            <img id="fact-icons" src="/assets/images/marketplace.jpg" />
          </h5>
          <p class="card-text" id="fact-number">Marketplace</p>
          <p> View all the crops that are on sale in the market.</p>
          <a routerLink="MarketplaceComponent" class="btn btn-primary" id="button">Go</a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card-body" id="news-container">
          <h5 class="card-title">
            <img id="fact-icons" style="height:70px; width: 70px; border-radius: 20px; margin-bottom: 30px;"
              src="/assets/images/history.png" />
          </h5>
          <p class="card-text" id="fact-number">History</p>
          <p>View all the previous transactions of your crops.</p>
          <a routerLink="FarmerTransactionHistoryComponent" class="btn btn-primary" id="button">Go</a>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card-body" id="news-container">
          <h5 class="card-title">
            <img id="fact-icons" src="/assets/images/insurance_claim.jpg" />
          </h5>
          <p class="card-text" id="fact-number">Claim Insurance</p>
          <p>You can claim the insurance for your crop loss.</p>
          <!-- <a routerLink="ClaimInsurance" class="btn btn-primary" id="button">Go</a> -->
          <button type="button" id="button" class="btn btn-primary" data-toggle="modal" data-target="#claiminsurance">
            Go
          </button>

          <!-- Modal -->
          <div class="modal fade" id="claiminsurance" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">

                <div class="modal-body" >
                  <form style="width: 100%;">
                    <div class="container" style="width: 80%;">
                      <h2 align="center">Particulars of Insuree</h2>
                      <label id="labels" for="policyno"><b>Policy Number</b></label>
                      <input type="text" placeholder="Enter policy number" name="policyno">

                      <label id="labels" for="insurancecompany"><b>Insurance Company</b></label>
                      <input type="text" placeholder="Enter Company name" name="insurancecompany">

                      <label id="labels" for="nameofinusree"><b>Name of Insuree</b></label>
                      <input type="text" placeholder="Enter number of insuree" name="nameofinusree">

                      <div>
                        <h2 align="center">Particulars of Insuree</h2>
                        <label id="labels" for="policyno"><b>Policy Number</b></label>
                        <input type="text" placeholder="Enter policy number" name="policyno">

                        <label id="labels" for="insurancecompany"><b>Insurance Company</b></label>
                        <input type="text" placeholder="Enter Company name" name="insurancecompany">

                        <label id="labels" for="nameofinusree"><b>Name of Insuree</b></label>
                        <input type="text" placeholder="Enter number of insuree" name="nameofinusree">

                        <label id="labels" for="suminsured"><b>Sum Insured</b></label>
                        <input type="text" placeholder="Enter Sum Insured" name="suminsured">

                        <h2 align="center">Details of Cause for Loss</h2>

                        <label id="labels" for="causeofloss"><b>Cause of Loss</b></label>
                        <input type="text" placeholder="Enter the cause of loss" name="causeofloss">

                        <!-- <label id="labels" for="dateofloss"><b>Date of Loss </b></label>
                        <input type="date" name="dateofloss"> -->
                        <label for="dateofloss"><b>Date of Loss</b></label><br>
                        <input type="date" name="dateofloss" formControlName="dateofloss"><br><br>

                        <button type="submit">Claim</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>