<div id="page-container">
  <div id="content-wrap">

    <div class="main">
      <h1>APPROVE INSURANCE CLAIM</h1>
      <div><p class="ptag" *ngIf="insuranceclaim_res.length < 1 else content"> There are no records available!</p>
      </div>
    <ng-template #content>
      <table class="table">
        <thead>
          <tr id="heading_style">
            <th scope="col">Claim ID</th>
            <th scope="col">Username</th>
            <th scope="col">Policy Number</th>
            <th scope="col">Crop Name</th>
            <th scope="col">Date of loss</th>
            <th scope="col">Cause of loss</th>
            <th scope="col">Claim date</th>


            <th scope="col">Area</th>
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>

        <tbody *ngFor="let item of insuranceclaim_res ">
          <tr  id="i" *ngIf="i%2==0">
            <td> {{item.claim_id}}</td>
            <td> {{item.username}}</td>
            <td> {{item.crop_name}}</td>
            <td>{{item.policy_no}}</td>
            <td> {{item.date_of_loss.substring(0,10)}}</td>
            <td> {{item.cause_of_loss}}</td>
            <td> {{item.claim_date.substring(0,10)}}</td>

            <td> {{item.area}}</td>

            <td><button type="button" class="btn btn-primary" data-toggle="modal" id="btn1"
                (click)="onapprove(item.claim_id)">Approve</button></td>
            <!-- <td><button class="btn btn-outline-success" id="btn1" value="Approve" (click)="onapprove(item.policy_no)">Approve</button></td>
              <td><button class="btn btn-outline-danger" id="btn2" value="Disapprove" (click)="disapprove()">Disapprove</button></td> -->
          </tr>
          <tr id="j" *ngIf="i%2!=0">
            <td> {{item.claim_id}}</td>
            <td> {{item.username}}</td>
            <td> {{item.crop_name}}</td>
            <td>{{item.policy_no}}</td>
            <td> {{item.date_of_loss.substring(0,10)}}</td>
            <td> {{item.cause_of_loss}}</td>
            <td> {{item.claim_date.substring(0,10)}}</td>

            <td> {{item.area}}</td>

            <td><button type="button" class="btn btn-primary" data-toggle="modal" id="btn1"
                (click)="onapprove(item.claim_id)">Approve</button></td>
            <!-- <td><button class="btn btn-outline-success" id="btn1" value="Approve" (click)="onapprove(item.policy_no)">Approve</button></td>
              <td><button class="btn btn-outline-danger" id="btn2" value="Disapprove" (click)="disapprove()">Disapprove</button></td> -->
          </tr>

        </tbody>

      </table>
    </ng-template>
    </div>
  </div>
</div>