
<body>
  
    <div id="page-container">
      <div id="content-wrap">
       
      <div class="main">
        <h2>Insurance approval</h2>
        <table class="table" cellpadding="0" cellspacing="0" border="1">
          <thead>
            <tr style="font-size: smaller;width: 100%;">
              <th scope="col">Claim ID</th>
              <th scope="col">Policy Number</th>
              <th scope="col">Date of loss</th>
              <th scope="col">Cause of loss</th>
              <th scope="col">Claim date</th>
              <th scope="col">Crop Name</th>
              <th scope="col">Username</th>
              <th scope="col">Area</th>
              <th scope="col" colspan="2">Action</th>
            </tr>
          </thead>
        
          <tbody style="font-size: smaller;width: 100%;">
            <tr *ngFor="let item of insuranceclaim_res ">
              <td> {{item.claim_id}}</td>
              <td>{{item.policy_no}}</td>
              <td> {{item.date_of_loss}}</td>
              <td> {{item.cause_of_loss}}</td>
              <td> {{item.claim_date}}</td>
              <td> {{item.crop_name}}</td>
              <td> {{item.username}}</td>
              <td> {{item.area}}</td>
              
              <td><button class="btn btn-outline-success" id="btn1" value="Approve" (click)="onapprove(item.policy_no)">Approve</button></td>
              <td><button class="btn btn-outline-danger" id="btn2" value="Disapprove" (click)="disapprove()">Disapprove</button></td>
          </tr>
            
          </tbody>
      
        </table>
  
          </div>
          </div>
          </div>
  </body>
  

