
<div class="row">
    <div class="main">
        <div class="card">       
        <form>
            <div class="container">
                <h2 align="center">Request for Bid</h2>
                <label for="croptype"><b>Crop Type</b></label>
                <input type="text" placeholder="Enter crop type" name="croptype">


                <label for="cropname"><b>Crop Name</b></label>
                <input type="text" placeholder="Enter crop name" name="cropname">

                <label for="fertilzertype"><b>Fertilzer Type</b></label>
                <input type="text" placeholder="Enter fertilzer type" name="fertilzertype">
            
                <label for="quantity"><b>Quantiy</b></label>
                <input type="text" placeholder="Enter quantity" name="quantity">

                <label for="soilphcertificate"><b>Soil PH Certificate</b></label>
                <input type="text" placeholder="Enter soil ph certificate" name="soilphcertificate">
            
                <button type="submit">Place Request</button>
            </div>



        </form>
        </div>
    </div>
</div>

