body{
  background-color: rgb(216, 247, 216);
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
.row{
    /* position: fixed; */
    height: 100%;
    width: 100%;
    top:0px;
    left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    
}
.main {  
    width: 25%;
    margin-top: 80px;
    margin: auto;
    padding-top: 30px;
    margin-left: 20%; 

  }

   /* Add a card effect for articles */
   .card {
    background-color: white;
    padding: 6%;
    border-radius: 25px;
    width: 250%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }
 
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  .container {
    padding: 16px;
    width:100%;
    margin: auto;

  }
  input[type=text], input[type=password], input[type=email], input[type=tel] {
    width:100%;
    height:42px;
  
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  input[type=reset]{
    width: 50%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 20%;
    font-size: 15px;

  }

  input[type=select]{
    width:max-content;
   
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

   
  
    font-size: 15px;

  }

  /* Set a style for all buttons */
  button {
    background-color: rgb(17, 139, 1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
    font-size: 15px;
    margin-left: 30%;
  }
 
  button:hover {
    opacity: 0.8;
  }
 
  /* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

  } */
 
  select.form-control{display:inline-block}
  tr:nth-child(even) {  
    background-color:#d0ead6;;  
  } 

 