<div id="page-container">
<div id="content-wrap">
<div class="row">
    <div class="main">
        <div class="card">       
        <form [formGroup]="applyinsuranceForm" (ngSubmit)="onSubmit()" novalidate>
            
            <div class="container">
                <h2 align="center">Insurance Premium Calculator</h2>
                <table style="width: 100%">
                    <tr>
                        <td style="width: 45%">  
                          
                            
  <div class="form-group" >
    <label for="crop_type"><b>Crop Type</b></label>
    <select class="form-control"  name="crop_type" id="crop_type" 
    [(ngModel)]="selectedtype" (change)="ontypeSelect(selectedtype)" formControlName="crop_type">
    <!-- <option value="" disabled selected>Choose a drink</option> -->
    <!-- <option default>Select Your Beverage</option> -->
    <!-- <option selected="selected">Select Your Beverage</option> -->
    <!-- <option value="" selected data-default>select your beverage</option> -->
    <option value="">Select One …</option> 
    <option value="kharif">Kharif</option>
        <option value="rabi">Rabi</option>
        <option value="commercial">Commercial</option>  
    </select> 
  </div>
  </td>
  <td style="position: relative; padding-left: 45px;">

  <div class="form-group">
    <label for="year"><b>Year</b></label>
    <select class="form-control"  name="year" id="year">
        <option value="2020">2020</option>
      </select> 
  </div>
</td></tr></table>
<table style="width: 100%">
    <tr>
        <td style="width: 45%"> 
  <div class="form-group">
    <!-- <label for="cropname"><b>Crop Name</b></label>
    <select class="form-control"  name="cropname" >
        <option value="paddy">Paddy</option>
        <option value="jowar">jowar</option>
        <option value="bajra">Bajra</option>

        <option value="maize">Maize</option>
        <option value="ragi">Ragi</option>
        <option value="tur">Tur</option>
        <option value="moong">Moong</option>
        <option value="urad">Urad</option>
        <option value="cotton">Cotton</option>
        <option value="groundnut">Groundnut</option>
        <option value="sunflower seed">Sunflower seed</option>
        <option value="soyabean">Soyabean</option>
        <option value="sesamum">Sesamum</option>
        <option value="nigerseed">nigerseed</option>
        <option value="wheat">wheat</option>
        <option value="barley">barley</option>
        <option value="gram">gram</option>
        <option value="masur">masur</option>
        <option value="mustard">mustard</option>
        <option value="safflower">safflower</option>
        <option value="copra">copra</option>
        <option value="sugarcane">sugarcane</option>
        <option value="jute">jute</option>

      </select>  -->
      <label id="labels" for="crop_name"><b>Crop Name</b></label>
                        
                        <select class="form-control" name="my-select" formControlName="crop_name" >
                            <option value="">Select One …</option> 
                          <option [value]="item.crop_name" *ngFor="let item of crops">
                              {{item.crop_name}}    
                          </option>
                        </select>
                            
  </div> </td>
<td style="position: relative; padding-left: 45px;">

                <label for="area"><b>Area (In Hectare)</b></label>
                <input type="text" placeholder="Enter area in hectare" name="area" formControlName="area">
                </td>
                </tr>
                </table>


                <table style="width: 100%">
                    <tr>
                        <td style="width: 45%">
                <input type="reset" value="RESET" data-inline="true">
               
                <!-- <button type="submit" data-inline="true" onclick="ShowHideDiv(this)" value="yes">CALCULATE</button> -->
            </td>
            <td style="position: relative; padding-left: 30px;">
                
                <button (click)=displaytext()>CALCULATE</button>
                </td></tr></table><hr>
                <div *ngIf="isShow">

                   
                    <table class="table" style="margin-top: 5%;" >
                        <tr></tr>
                        <tr>
                            <th>Insurance Company</th>  
                            <th>Sum Insured(per hectare)</th>
                            <th>Farmer Share(%)</th>
                        </tr>
        
                        <tr *ngFor="let getinsurance of getinsurances" >
                            <td>Yojna Insurance</td> 
                            <td>{{getinsurance.sum_insured_per_hectare}}</td>
                            <td>{{getinsurance.farmer_share_percent}}</td>
                        </tr>
                        <tr>
                            <th>Actual Rate(%)</th>
                            <th>Crop Name</th>
                            <th>Area</th>
                            
                        </tr>
                        <tr *ngFor="let getinsurance of getinsurances">
                            <td>{{getinsurance.actual_rate}}</td>
                            <td>{{cropname}}</td>
                            <td>{{area1}}</td>

                        </tr>
                        <tr>
                            <th>Premium paid by farmer(Rs)</th> 
                            <th>Premium paid by Govt(Rs)</th> 
                            <th>Sum Insured</th>
                        </tr>
                        <tr>
                            <td>{{premiumpaidbyfarmer}}</td>
                            <td>{{premiumpaidbygovt}}</td>
                            <td>{{suminsured}}</td>

                        </tr>
                        
                        
                    </table>
    
                    <button type="submit" (click)=displayalert() >APPLY</button>

                </div>
            </div>
        </form>
        </div>
    </div>
</div>
</div>
</div>