<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="nav-bar">
    <img id="small_images" src="/assets/images/logo-product.svg" />
    <label id="project-name">Kisan Yojana</label>
    <a id="header_nav">Home</a>
    <a id="header_nav">About</a>
    <a id="header_nav">Contact Us</a>
    <input class="nav-button" type="button" value="Sign In" />
    <input class="nav-button"
      style="background-color: rgb(209, 255, 209); border-color: green; position: absolute;margin-left: 0px;right: 60px;"
      type="button" value="Register" />
  </div>
  <b id="big-text">About Us</b>
  <div class="main-container">
    
      <p class="paragraph-text">
        Agriculture may be defined as the production, processing, marketing and distribution of crops and livestock products. Kisan Yojna  is an integrated IT solution and a web-based ecosystem to speed up service delivery, unify fragmented databases, achieve a single view of data, and eliminate manual processes. unify fragmented databases, achieve a single view of data, and eliminate manual processes.  Farmers will get new ideas to improve their productivity, they can buy and sell their products online from different cities through the process of bidding.Farmers can use this facility and avail benefits of different schemes available which will increase their profit.The automated solution has opened a window of opportunity to remote and economically-weak farmers to benefit from crop insurance services.</p>

       <p class="paragraph-text">
        We also aim to be standards compliant and follow principles of usability and universal design, which should help all visitors of this portal.If you choose to provide us with personal information like filling out a Contact Us form with an e-mail address or postal address, and submitting it to us through the website, we use that information to respond to your message, and to help you to get the information you have requested. Our website never collects information or creates individual profiles for commercial marketing.
       </p>
        

      

  </div>






<div class="card-body" id="footer"> 
    <p class="card-text"> © 2020 Larsen & Toubro Infotech</p>
    <h5 class="card-title" id="footer-contactus">Contact Us</h5>
    <div style=" display:flex; flex-direction: row; margin-bottom: 10px;">
      <svg id="footericon-style" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
      </svg>
      <p class="card-text"> Envato, Victoria St 355, Australia</p>
    </div>
    
    <div style=" display:flex; flex-direction: row; margin-bottom: 10px;">
      <svg id="footericon-style" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
      </svg>
      <p class="card-text">Email: farmer@lntinfotech.com</p>
    </div>
    
    <div style=" display:flex; flex-direction: row; margin-bottom: 10px;">
      <svg id="footericon-style" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-inbound-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0z"/>
      </svg>
      <!-- <i class="fa fa-gavel fa-lg" id="footericon-style" aria-hidden="true"></i> -->
      
      <p class="card-text">Phone: +99 (101) 001 99</p>
    </div>
  </div>
  