<div id="page-container">
  <div id="content-wrap">

    <div class="main">
      <h1>APPROVE INSURANCE</h1>
      <table class="table">
        <thead>
          <tr id="heading_style">
            <th scope="col">Sr No.</th>
            <th scope="col">Policy Number</th>
            <th scope="col">Username</th>
            <th scope="col">Land Area</th>
            <th scope="col">Season</th>
            <th scope="col">Year</th>
            <th scope="col">Crop Name</th>
            <!-- <th scope="col">Sum Insured</th>
              <th scope="col">Insurance Company</th>
              <th scope="col">Premium Amount</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th> -->
            <th scope="col" colspan="2">Action</th>
          </tr>
        </thead>

        <tbody *ngFor="let item of insurance_res; index as i ">
          <tr id="i">
            <th scope="row">{{i+1}}</th>
            <td> {{item.policy_no}}</td>
            <td>{{item.username}}</td>
            <td> {{item.area}}</td>
            <td> {{item.season}}</td>
            <td> {{item.year}}</td>
            <td> {{item.crop_name}}</td>
            <!-- <td> {{item.sum_insured}}</td>
              <td> {{item.insurance_company}}</td>
              <td> {{item.premium_amount}}</td>
              <td> {{item.start_date}}</td>
              <td> {{item.end_date}}</td> -->

            <td><button type="button" id="btn1" class="btn btn-primary" data-toggle="modal"
                data-target="#insurancemodal" (click)="getdata(item)" >View</button></td>

            <div class="modal fade" id="insurancemodal" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                  <!-- <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="align-items: center;">User Information
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div> -->
                  <div class="modal-body">
                    <h3 style="margin: 30px;">User Information</h3>
                    <table *ngFor="let i of insurance_entity">
                      <tr>
                        <th>Policy No.</th>
                        <td>{{i.policy_no}}</td>
                      </tr>
                      <tr id="">
                        <th>Name</th>
                        <td>{{i.username}}</td>
                      </tr>
                      <tr id="">
                        <th>Area</th>
                        <td>{{i.area}}</td>
                      </tr>
                      <tr id="">
                        <th>CropName</th>
                        <td>{{i.crop_name}}</td>
                      </tr>
                      <tr id="">
                        <th>SumInsured</th>
                        <td>{{i.sum_insured}}</td>
                      </tr>
                      <tr id="">
                        <th>Insurance Company</th>
                        <td> {{i.insurance_company}}</td>
                      </tr>
                      <tr id="">
                        <th>Premium Amount</th>
                        <td> {{i.premium_amount}}</td>
                      </tr>
                      <tr id="">
                        <th>Start Date</th>
                        <td>{{i.start_date}}</td>
                      </tr>
                      <tr id="">
                        <th>End Date</th>
                        <td> {{i.end_date}}</td>
                      </tr>
                      
                    </table>
                    <div style="justify-content: center; display: flex;">
                      <button type="button" class="btn btn-outline-success" id="btn2"
                      (click)="onapprove(item.policy_no)">Approve</button>
                    </div>
                    
                  </div>

                </div>
              </div>
            </div>

            <!-- <td><button class="btn btn-outline-success" id="btn1" value="Approve" (click)="onapprove(item.policy_no)">Approve</button></td>
              <td><button class="btn btn-outline-danger" id="btn2" value="Disapprove" (click)="disapprove()">Disapprove</button></td> -->
          </tr>

          <!-- <tr id="j" *ngIf="i%2!=0">
            <th scope="row">{{i+1}}</th>
            <td> {{item.policy_no}}</td>
            <td>{{item.username}}</td>
            <td> {{item.area}}</td>
            <td> {{item.season}}</td>
            <td> {{item.year}}</td>
            <td> {{item.crop_name}}</td>
            <td> {{item.sum_insured}}</td>
            <td> {{item.insurance_company}}</td>
            <td> {{item.premium_amount}}</td>
            <td> {{item.start_date}}</td>
            <td> {{item.end_date}}</td>

            <td><button class="btn btn-outline-success" id="btn1" value="Approve"
                (click)="onapprove(item.policy_no)">Approve</button></td>
             <td><button class="btn btn-outline-danger" id="btn2" value="Disapprove"
                (click)="disapprove()">Disapprove</button></td> 
          </tr> -->

        </tbody>

      </table>

    </div>
  </div>
</div>