
<body style="background-color: rgb(241, 255, 241);padding-top:80px">
  <div id="page-container">
    <div id="content-wrap">

      <!-- <div class="container" style="background-color:#d0ead6 ;">
            <img src="C:\Users\Sneha\Downloads\fresh-wheat-crop-500x500.jpg" id="img" style="height: 20%;width: 20%; margin-top: 2%;"  >
            
            
                    <p>Wheat</p>
           
                    <p>This is some text.</p>
          </div> -->
      <div class="main">
        <div class="card1">
          <div class="row no-gutters">
            
            <div class="col-sm-6">
              <div class="card-body">
                <h5 class="card-title">{{bidrequestdata[0].crop_name}}</h5>
                <p class="card-text">100% organic and premium quality</p>
                <!-- <a href="#" class="btn btn-primary">View Profile</a> -->
              </div>
            </div>
            <div class="col-sm-3">
              <!-- <img class="card-img2" src="C:\Users\Sneha\Downloads\approved.png"> -->
            </div>
          </div>
        </div>
        <div class="card2">
          <div class="row no-gutters">
            <div class="col-sm-7">
              <table class="styled-table">
                <tr id="j">
                  <th>Name</th>
                  <td>{{bidrequestdata[0].crop_name}}</td>
                </tr>
                <tr id="i">
                  <th>Quantity</th>
                  <td>{{bidrequestdata[0].quantity}}</td>
                </tr>
                <tr id="j">
                  <th>Fertilizer</th>
                  <td>{{bidrequestdata[0].fertilizer_type}}</td>
                </tr>
                <tr id="i">
                  <th>MSP</th>
                  <td>{{bidrequestdata[0].msp}}</td>
                </tr>
                <tr id="j">
                  <th>Base Price</th>
                  <td>{{bidrequestdata[0].base_price}}</td>
                </tr>
                <tr id="i">
                  <th>Current Price</th>
                  <td>{{bidrequestdata[0].current_amount}}</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-3">
  
              <form id="form" [formGroup]="BidForm" (ngSubmit)="onPlacebid()" novalidate>
  
                <div>
                  <input type="text" class="form-control" placeholder="Enter your bid amount" name="placebid"
                    formControlName="placebid">
                </div>
                <div class="d" style="width: auto;">
                  <!-- <input type="submit" class="btn btn-outline-success" id="btn10" value="Place bid" > -->
                  <button class="btn btn-outline-success" id="btn10" type="submit" routerLink="/bidrequest">Place
                    Bid</button>
                </div>
  
              </form>
              <div style="display: flex; justify-content: center; padding-top: 40px; margin-left:60px">
                <img id="fact-icons" src="/assets/images/checked.svg" style="height:100px; width: 100px; color: mediumseagreen;"/>

              </div>

            </div>
            <!-- <div style="display:flex;justify-content: center;">
              
              <img id="fact-icons" src="/assets/images/checked.svg" style="height:100px; width: 100px; margin-top: 200px; padding-right:70px;background-color: brown; color: mediumseagreen;"/>
            </div> -->
  
          </div>
        </div>
      </div>
    </div>
  </div>
</body>