<body>
  <div id="page-container">
    <div id="content-wrap">

      <!-- <div class="container" style="background-color:#d0ead6 ;">
            <img src="C:\Users\Sneha\Downloads\fresh-wheat-crop-500x500.jpg" id="img" style="height: 20%;width: 20%; margin-top: 2%;"  >
            
            
                    <p>Wheat</p>
           
                    <p>This is some text.</p>
          </div> -->
      <div class="main">
        <div class="card1">
          <div class="row no-gutters">
            <div class="col-sm-3 row-sm-3" id="pic">
              <!-- <img class="card-img1" src="C:/Users/Sneha/Downloads/wheat.jpg"> -->
            </div>
            <div class="col-sm-6">
              <div class="card-body">
                <h5 class="card-title">Wheat</h5>
                <p class="card-text">100% organic and premium quality bla bla bla.</p>
                <!-- <a href="#" class="btn btn-primary">View Profile</a> -->
              </div>
            </div>
            <div class="col-sm-3">
              <!-- <img class="card-img2" src="C:\Users\Sneha\Downloads\approved.png"> -->
            </div>
          </div>
        </div>
        <div class="card2">
          <div class="row no-gutters">
            <div class="col-sm-7">
              <table class="styled-table">
                <tr id="j">
                  <th>Name</th>
                  <td>Wheat</td>
                </tr>
                <tr id="i">
                  <th>Quantity</th>
                  <td>5</td>
                </tr>
                <tr id="j">
                  <th>Fertilizer</th>
                  <td>Granule</td>
                </tr>
                <tr id="i">
                  <th>MSP</th>
                  <td>1925</td>
                </tr>
                <tr id="j">
                  <th>Base Price</th>
                  <td>12000</td>
                </tr>
                <tr id="i">
                  <th>Previous 3 Bids</th>
                  <td>12500, 13000, 13500</td>
                </tr>
                <tr id="j">
                  <th>Current Price</th>
                  <td>14000</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-3">

              <form id="form">

                <div>
                  <input type="text" class="form-control" placeholder="Enter your bid amount">
                </div>
                <div class="d" style="width: auto;">
                  <input type="submit" class="btn btn-outline-success" id="btn10" value="Place bid">
                </div>

              </form>
            </div>
            <div>
              <!-- <img src="C:\Users\Sneha\Downloads\checked.png" style="height:100px; width: 100px; margin-top: 200px; margin-right: 50px; color: mediumseagreen;"> -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>