<body>
  
    <table id="t1">
        <tr>
            <td>
                <table class="table table-bordered" id="t2" >
                
                    <tr id="j">
                      <th>Name</th>
                      <td >Wheat</td>
                    </tr>
                    <tr id="i">
                      <th>Quantity</th>
                      <td>5</td>
                    </tr>
                    <tr id="j">
                      <th>Fertilizer</th>
                      <td>Granule</td>
                    </tr>
                    <tr id="i">
                      <th>MSP</th>
                      <td>1925</td>
                    </tr>
                    <tr id="j">
                      <th>Base Price</th>
                      <td>12000</td>
                    </tr>
                    <tr id="i">
                      <th>Previous 3 Bids</th>
                      <td>12500, 13000, 13500</td>
                    </tr>
                    <tr id="j">
                      <th>Current Price</th>
                      <td>14000</td>
                    </tr>
                </table>
            </td>
            <td rowspan="7">
              <form id="form">
                
                  <div>
                    <input type="text" class="form-control"  placeholder="Enter your bid amount">
                  </div>
                  <div class="d" style="width: auto;">
                    <input type="submit" class="btn btn-outline-success" id="btn1" value="Place bid">
                  </div>
                
                </form>
            </td>
            </tr>
            </table>
      </body>
      