
  <div id="page-container">
    <div id="content-wrap">
<div class="row">
    <div class="main">
        <div class="card">
            
    <form>
     
        <div class="container">
            <h2 align="center">Particulars of Insuree</h2>
            <label for="policyno"><b>Policy Number</b></label>
            <input type="text" placeholder="Enter policy number" name="policyno">

            <label for="insurancecompany"><b>Insurance Company</b></label>
            <input type="text" placeholder="Enter Company name" name="insurancecompany">

            <label for="nameofinusree"><b>Name of Insuree</b></label>
            <input type="text" placeholder="Enter number of insuree" name="nameofinusree">
         
            <div class="container">
                <h2 align="center">Particulars of Insuree</h2>
                <label for="policyno"><b>Policy Number</b></label>
                <input type="text" placeholder="Enter policy number" name="policyno">
    
                <label for="insurancecompany"><b>Insurance Company</b></label>
                <input type="text" placeholder="Enter Company name" name="insurancecompany">
    
                <label for="nameofinusree"><b>Name of Insuree</b></label>
                <input type="text" placeholder="Enter number of insuree" name="nameofinusree">
             
                <label for="suminsured"><b>Sum Insured</b></label>
                <input type="text" placeholder="Enter Sum Insured" name="suminsured">
    
                <h3 align="center">Details of Cause for Loss</h3>
    
                <label for="causeofloss"><b>Cause of Loss</b></label>
                <input type="text" placeholder="Enter the cause of loss" name="causeofloss">
    
                <label for="dateofloss"><b>Date of Loss    </b></label>
                <input type="date" name="dateofloss">
    
                <button type="submit">Claim</button>
              
            
            
            
            </div>
        </div>
    </form>
    </div>
</div>
</div>
</div>


