<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
  <div class="col-sm-4">
    <div class="card-body" id="news-container">
      <div class="card" id="card">
      <h5 class="card-title">
        <img id="fact-icons"  style ="height:70px; width: 70px; border-radius: 20px; margin-bottom: 30px;" src="/assets/images/crop_approval.jpg" />
      </h5>
      <p class="card-text" id="fact-number">Crop Approvals</p>
      <p>View crops for approval.</p>
      <a routerLink="/admincropapproval" class="btn btn-primary" id="button">View</a>
    </div>
    </div>
  </div>
  <div class="col-sm-4">

    <div class="card-body" id="news-container">
      <div class="card" id="card">
      <h5 class="card-title">
        <img id="fact-icons"  style ="height:70px; width: 70px; border-radius: 20px; margin-bottom: 30px;" src="/assets/images/bid-image.png" />
      </h5>
      <p class="card-text" id="fact-number">Bid Approvals</p>
      <p>View bids for approval.</p>
      <a routerLink="/adminbidapproval" class="btn btn-primary" id="button">View</a>
      </div>
    </div>
</div>
  <div class="col-sm-4">
    <div class="card-body" id="news-container">
      <div class="card" id="card">
      <h5 class="card-title">
        <img id="fact-icons" src="/assets/images/marketplace.jpg" />
      </h5>
      <p class="card-text" id="fact-number">Marketplace</p>
      <p> View all the crops that are on sale in the market.</p>
      <a routerLink="/commonmarketplace" class="btn btn-primary" id="button">View</a>
    </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card-body" id="news-container">
      <div class="card" id="card">
      <h5 class="card-title">
        <img id="fact-icons"  style ="height:70px; width: 70px; border-radius: 20px; margin-bottom: 30px;" src="/assets/images/user_approval.jpg" />
      </h5>
      <p class="card-text" id="fact-number">Account Approvals</p>
      <p>View accounts for approval.</p>
      <a routerLink="/adminaccountapproval" class="btn btn-primary" id="button">View</a>
    </div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="card-body" id="news-container">
        <div class="card" id="card">
        <h5 class="card-title">
          <img id="fact-icons"  style ="height:70px; width: 70px; border-radius: 20px; margin-bottom: 30px;" src="/assets/images/insurance_approval.jpg" />
        </h5>
        <p class="card-text" id="fact-number">Insurance Approvals</p>
        <p>View Insurance for approval.</p>
        <a routerLink="/admininsuranceapproval" class="btn btn-primary" id="button">View</a>
      </div>
      </div>
  </div>
  
  
  <div class="col-sm-4" style="width: 18rem;">
    
      <div class="card-body" id="news-container">
        <div class="card" id="card">
        <h5 class="card-title">
          <img id="fact-icons"  style ="height:70px; width: 70px; border-radius: 20px; margin-bottom: 30px;" src="/assets/images/apply_insurance.jpg" />
        </h5>
        <p class="card-text" id="fact-number">Insurance Claim Approvals</p>
        <p>View Claimed Insurance for approval.</p>
        <a routerLink="/admininsuranceclaimapproval" class="btn btn-primary" id="button">View</a>
      </div>
    </div>
      
  </div>
</div>